* {
    text-decoration: none;
    list-style: none;

}

.body {
    font-family: barlow;
}

.fheader {
    background-color: #FF5C1D;
}

p.envelope.text-white.ps-2 {
    font-family: Barlow;
    font-size: 16px;
    /* font-weight: 500; */
    line-height: 19.2px;
    text-align: left;

}

i.bicon {
    height: 41px;
}

.navbar-nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-nav .nav-item {
    margin-right: 40px;
    /* Adjust as needed */
}

.nav-button {
    margin-left: auto;
}
.nav-link {
    /* color: #fff; */
    font-size: 15px;
    position: relative;
    transition: all 0.4s;
}
.nav-Link:hover {
    color: white;
}
.nav-link::after {
    content: '';
    height: 2px;
    width: 100%;
    background-color: #FF5C1D;
    /* display: block; */
    position: absolute;
    left: 0;
    bottom: -8px;
    opacity: 0;
    transition: all 0.2s;
    pointer-events: none;
}
.nav-link:hover::after {
    opacity: 1;
}

button.sign.border-0.bg-white {
    font-weight: 600;
}

.register {
    background-image: linear-gradient(to right, #fd5b1c 51%, #E1480E 100%);
    margin: 10px;
    padding: 10px 15px;
    text-align: center;
    /* transition: 0.5s; */
    background-size: 200% auto;
    color: white;
    /* box-shadow: 0 0 20px #eee; */
    border-radius: 5px;
    border-color: #fd5b1c;
    font-family: Barlow;
    font-size: 16px;
    /* font-weight: 700; */
    line-height: 19.2px;
    text-align: left;

}

.btn-grad:hover {
    background-position: right center;
    /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}

.register a {
    text-decoration: none;
    color: white;
}

.sign a {
    text-decoration: none;
    color: black;
    font-family: Barlow;
    font-size: 16px;
    /* font-weight: 700; */
    line-height: 19.2px;
    text-align: left;

}

button.reg {
    padding: 7px 15px;
    border: 0px;
    border-radius: 5px;
    background-color: #fff;
}
.reg a {
    color: black;
    font-weight: 600;
    text-decoration: none;
}
/* Header End */

/* Hero */

.hero {
    background-image: url('assets/image\ 57.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero>div {
    text-align: center;
    /* Center align text */
}

.hero>div>* {
    margin-bottom: 20px;
    /* Add spacing between elements if needed */
}

.hero h3 {
    font-family: Barlow;
    font-size: 64px;
    /* font-weight: 700; */
    line-height: 76.8px;
}

.hero p {
    font-family: Barlow;
    font-size: 20px;
    /* font-weight: 400; */
    line-height: 24px;
    text-align: center;
}

.Our-Services {
    background-color: #0C1315;
    /* height: 100vh; */
}

.touch {
    background-color: #0C1315;
    /* height: 30vh; */
    font-family: barlow;
}

.touch h4 {
    color: #FF5C1D;
}

.quick {
    font-family: Barlow;
    font-size: 25px;
    font-weight: 400;
    /* line-height: 48px; */
    text-align: left;

}

hr.new {
    border-top: 2px solid #FF5C1D;
    border-color: #FF5C1D;
    width: 25vw;
    margin-left: 400px;
    margin-top: 15px;
}

.tcard {
    height: 100vh;
}

/* background-color: red; */

.tcards {
    height: 100vh;
}

.t45 {
    /* height: 100%; */
    background-color: green;
}

.cedes {
    box-shadow: 10px 10px 10px 5px #FF5C1D33;


}

.cedes:nth-child(2) {
    height: 412px;
    padding-top: 10px;
    margin-top: -23px;
}

h4.text-center.eclass {
    padding-top: 24px;
}

.professional {
    background-color: #141A1C;
    /* height: 30vh; */
    font-family: barlow;
}

.professional h4 {
    color: #FF5C1D;
}

/* Upper Accordian */
.review9 {
    background-color: #141A1C;
}

.card img {
    border-style: none;
    vertical-align: middle;
    width: 50px;
    margin-left: 13px;
    margin-top: 10px;
}

.card h5 {
    color: #FF5C1D;
    font-family: Barlow;
    font-size: 18px;
    font-weight: 700;
    line-height: 21.6px;
    text-align: left;

}

.card p {
    font-family: Barlow;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.8px;
    text-align: left;

}

.company {
    background-color: #0C1315;
    font-family: barlow;
}

.abot {
    font-family: Barlow;
    font-size: 24px;
    font-style: italic;
    font-weight: 700;
    line-height: 28.8px;
    text-align: left;
    color: #FF5C1D;
}

.safe {
    background-image: url(assets/image\ 60.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 60vh;
    font-family: barlow;
}

.with {
    color: #FF5C1D;
}

.advantages {
    background-image: url(assets/Clip\ path\ group.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    /* height: 40vh; */
    background-color: #141A1C;
}

.ad {
    color: #FF5C1D;
}

.numbers h2 {
    color: #FF5C1D;
}

img.car.img-fluid {
    width: 60px;
}

.finest {
    font-family: barlow;
    background-color: #141A1C;
}

.transport h3 {
    color: #FF5C1D;
    font-style: italic;
    font-size: 20px;
}

.transport p {

    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    text-align: left;

}

.review {
    font-family: barlow;
    background-color: #0C1315;
    /* background-color: red; */
    max-height: auto;
    min-height: auto;
    max-width: auto;
    padding-bottom: 20px;
}

.review h4 {
    color: #FF5C1D;
    padding-top: 63px;
}

hr.new {
    border-top: 2px solid #FF5C1D;
    border-color: #FF5C1D;
    width: 25vw;
    margin-left: 430px;
    margin-top: 15px;
}

.cards {
    min-height: auto;
    max-width: auto;
}

.cards.bg-white {
    /* width: 39%; */
    border-radius: 13px;
}

p.cardp {
    font-family: Barlow;
    font-size: 28px;
    font-weight: 500;
    line-height: 33.6px;

}

.Kinberly b {
    font-family: Barlow;
    font-size: 20px;
    /* font-weight: 700; */
    line-height: 24px;
    text-align: left;
    color: #FF5C1D;
}

.Kinberly p {
    font-family: Barlow;
    font-size: 15px;
    /* font-weight: 500; */
    line-height: 18px;
    text-align: left;

}

.cards.bg-white.col-md-6.col-sm-12.p-0.mt-2.mb-lg-2 {
    width: 49%;
    margin-right: 10px;
}
.testimonials {
    min-height: auto;
    background-color: #0C1315;
    padding: 20px 0px;
}
.carousel-indicators {
    position: absolute;
    right: 0;
    bottom: -51px;
    left: -70px;
    z-index: 2;
    display: flex;
    justify-content: center;
    padding: 0;
    margin-right: 15%;
    margin-bottom: 1rem;
    margin-left: 15%;
}

.review {
    min-height: auto;
}
.cards {
    width: 40%;
    margin-left: 5%;
    border-radius: 10px;
    padding-bottom: 15px;
}
.b {
    font-size: 40px;
    color: red;
}
@media only screen and (max-width: 990px) {
    .cards {
        border-radius: 10px;
        width: 100%; /* Occupy full width */
        margin-left: 0; /* Remove left margin */
        padding-bottom: 15px; /* Preserve bottom padding */
    }
    .b {
        color: red; /* Example of adjusting font color */
        font-size: 10px; /* Adjust font size for medium and small screens */
        font-weight: 400;
        white-space: nowrap; /* Prevent line breaks */
    }
}
@media only screen and (max-width: 575px) {
    .cards {
        width: 90%; /* Adjust width for screens smaller than 576px */
        margin-left: auto; /* Center the card */
        margin-right: auto; /* Center the card */
    }
}

.abs {
    position: relative;
}

.ncar img {
    width: 23%;
    position: absolute;
    top: 30%;
}

@media (max-width: 992px) {
    .ncar img {
        width: 100%;
        position: static;
        margin-top: 20px;
    }
}

.accordion {
    background-color: #141A1C;
    font-family: barlow;
    height: auto;


}

.accordion button {

    font-family: barlow;
}

.accordion-header {

    margin-bottom: 0;

    background-color: #141A1C;
}

div#flush-collapseOne {
    background-color: #141A1C;
}

div#flush-collapseTwo {
    background-color: #141A1C;
}

div#flush-collapseThree {
    background-color: #141A1C;
}

/* Change the background color of the accordion */
.accordion-flush .accordion-item {
    background-color: #0C1315;
    border-color: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 10px;
}

/* Change the text color of the accordion button */
.accordion-flush .accordion-button {
    color: black;
    background-color: #FF5C1D;
    border: none;
    box-shadow: 0px 4px 10px 0px #FF5C1D80;

}

/* Change the background color of the active accordion button */
.accordion-flush .accordion-button:not(.collapsed) {
    background-color: #FF5C1D;
    color: #ffffff;
}

/* Change the hover background color of the accordion button */
.accordion-flush .accordion-button:hover {
    background-color: #fd5b1c;
}

.accordion-body {
    width: 53%;
    margin: 0 auto;
    font-family: barlow;
    color: antiquewhite;
    background-color: #141A1C;
}

.accordion-flush>.accordion-item>.accordion-header .accordion-button,
.accordion-flush>.accordion-item>.accordion-header .accordion-button.collapsed {
    border-radius: 0;
    width: 75%;
    margin-left: 17%;
}


.information {
    background-image: url('assets/Group\ 48.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    min-height: auto;

}
.cycle img {
    width: 80px;
    /* padding-top: 5px; */
    display: block;
    margin: auto;
}

.cycle-data {
    padding-top: 10px;
    font-family: Barlow;
    /* font-size: 30px; */

    /* font-weight: bold; */
    /* line-height: 25px; */
    /* text-align: left; */

}

* {
    list-style: none;

}

.footer {
    font-family: barlow;
    background-image: url('assets/Group\ 54.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.footer ul li a {
    text-decoration: none;
    color: black;
    font-weight: 500;
}

.footer h2 {
    color: #FF5C1D;
}

.footer p {
    font-weight: 500;
}

.sub {
    padding: 6px 10px;
    color: white;
    border: 0px;
    background-color: #FF5C1D;
    border-radius: 4px;
}


input.mr-2 {
    color: red;
    background-color: #d9d9d9;
    border: 0px;
    box-shadow: 0px 4px 10px 0px #00000040;
}

@media only screen and (max-width: 990px) {
    
    .two-buttons {
        margin-left: 300px;
    }   
}

@media only screen and (max-width: 575px) {

    .two-buttons {
        margin-left: 150px;
    }   
}



.a {
    min-height: 60vh;
    /* height: 60vh; */
    max-width: auto;
    background-color: white;
    border: 2px;
    border-radius: 10px;
    margin-left: 10px;
}

.bb {
    min-height: 70vh;
    background-color: white;
    margin-left: 10px;
    box-shadow: 10px 10px 10px 5px #FF5C1D33;
    border-radius: 10px;
}

.x {
    background-color: #141A1C;
    min-height: auto;
    /* height: 100vh; */
}


.y {
    min-height: auto;
}