* {
    text-decoration: none;

}

.fheader {
    background-color: #FF5C1D;
}
.d-flex.justify-content-start.align-items-center.h365.ps-5.ps-sm-2 {
    padding-left: 10px;
    margin-left: 6px !important; 
}
p.envelope.text-white.ps-2 {
    font-family: Barlow;
font-size: 16px;
/* font-weight: 500; */
line-height: 19.2px;
text-align: left;

} 
i.bicon {
    height: 41px;
}
.navbar-nav {
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.navbar-nav .nav-item {
    margin-right: 40px; /* Adjust as needed */
  }
  
.nav-button {
    margin-left: auto;
}
.nav-link {
    /* color: #fff; */
    font-size: 15px;
    position: relative;
    transition: all 0.4s;
}
.nav-Link:hover {
    color: white;
}
.nav-link::after {
    content: '';
    height: 2px;
    width: 100%;
    background-color: #FF5C1D;
    /* display: block; */
    position: absolute;
    left: 0;
    bottom: -8px;
    opacity: 0;
    transition: all 0.2s;
    pointer-events: none;
}
.nav-link:hover::after {
    opacity: 1;
}

.register {
    background-image: linear-gradient(to right, #fd5b1c 51%, #E1480E 100%);
    margin: 10px;
    padding: 10px 15px;
    text-align: center;
    /* transition: 0.5s; */
    background-size: 200% auto;
    color: white;
    /* box-shadow: 0 0 20px #eee; */
    border-radius: 5px;
    border-color: #fd5b1c;
    font-family: Barlow;
font-size: 16px;
/* font-weight: 700; */
line-height: 19.2px;
text-align: left;

}

.btn-grad:hover {
    background-position: right center;
    /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}
.sign a {
    text-decoration: none;
    color: black;
    font-family: Barlow;
font-size: 16px;
/* font-weight: 700; */
line-height: 19.2px;
text-align: left;
  
}

/* Header End */

/* Hero */

.hero {
    background-image: url('assets/image\ 53.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 100;
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero > div {
    text-align: center; /* Center align text */
}
.hero > div > * {
    margin-bottom: 20px; /* Add spacing between elements if needed */
}

.hero h3 {
    font-family: Barlow;
font-size: 64px;
/* font-weight: 700; */
line-height: 76.8px;
}
.hero p {
    font-family: Barlow;
font-size: 20px;
/* font-weight: 400; */
line-height: 24px;
text-align: center;
}
.our {
    background-color: #0C1315;
}
.service {
    font-family: barlow;
}
.service h4 {
    color: #FF5C1D;
}
.professional {
    font-family: barlow;
    background-color: #0C1315;
}
.driver { 
    color: #FF5C1D;
}
.register a {
    text-decoration: none;
    color: #fff;
}
img.card-img-top {
    padding-top: 14px;
    width: 54px;
    display: block;
    margin: auto;
}
hr.new {
    border-top: 2px solid #FF5C1D;
    border-color: #FF5C1D;
    width: 25vw;
    margin-left: 399px;
    margin-top: 15px;
}
.apth {
    background-image: url('assets/Clip\ path\ group.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    min-height: auto;
}
.information {
    background-image: url('assets/Group\ 48.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    min-height: auto;

}
.cycle img {
    width: 80px;
    /* padding-top: 5px; */
    display: block;
    margin: auto;
}
.cycle-data {
    padding-top: 10px;
    font-family: Barlow;
 /* font-size: 30px; */

/* font-weight: bold; */
/* line-height: 25px; */
/* text-align: left; */

}

.footer {
    font-family: barlow;
    background-image: url('assets/Group\ 54.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.footer ul li a {
text-decoration: none ;
color: black;
font-weight: 500;
}
.footer h2 {
    color: #FF5C1D;
}
.footer p {
    font-weight: 500;
}
ul.p-0 {
    list-style: none;
}
.sub {
    padding: 6px 10px;
    color: white;
    border: 0px;
    background-color: #FF5C1D;
    border-radius: 4px;
}
input.mr-2 {
    color: red;
    background-color: #d9d9d9;
    border: 0px;
    box-shadow: 0px 4px 10px 0px #00000040;
}
@media only screen and (max-width: 990px) {
    
    .two-buttons {
        margin-left: 300px;
    }   
}

@media only screen and (max-width: 575px) {

    .two-buttons {
        margin-left: 150px;
    }   
}